<div class="footer clearfix">
  <div class="box">
    <p><font style="color:000;"><a href="mailto:{$_G['mail']}">本站所有音乐均来自互联网搜集，版权为原作者所有，如有侵犯权益，请联系我们删除！</a></font> -- <a href="http://www.miitbeian.gov.cn/" target="_blank">{$_G['icp']}</a> {$_G['stat']}<br /></p>
    <p>Copyright &copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> <a href="http://{$_G['host']}" target="_blank">{$_G['host']}</a> .All Rights Reserved. <a href="http://{$_G['host']}{$_G['path']}" target="_blank">{$_G['name']}</a> 版权所有</p>
  </div>
</div>