<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$_G['charset']}" />
<title>{$music['name']} - 收藏音乐 - {$_G['name']}</title>
<meta name="Keywords" content="收藏_{$music['name']},{$music['classname']}" />
<meta name="Description" content="收藏_{$music['name']},{$music['classname']},{$_G['name']}" />
<link href="{$_G['tempath']}css/base.css" rel="stylesheet" type="text/css" />
<link href="{$_G['tempath']}css/diange.css" rel="stylesheet" type="text/css" />
<link href="{$_G['path']}static/pack/asynctips/asynctips.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$_G['path']}static/pack/asynctips/jquery.min.js"></script>
<script type="text/javascript" src="{$_G['path']}static/pack/asynctips/asyncbox.v1.4.5.js"></script>
<script type="text/javascript" src="{$_G['tempath']}js/lib.js"></script>
<script type="text/javascript">
var in_path = '{$_G['path']}';
var temp_url = '{$_G['tempath']}';
var guide_url = '{$rewrite['user.php/music/song/']}';
var search_url = '{$rewrite['index.php/search/table/target/']}';
var play_url = '{$rewrite['index.php/misc/play/player/']}';
function update_seccode(){
	document.getElementById('img_seccode').src = '{$rewrite['user.php/people/seccode/' + Math.random() + '/']}';
}
</script>
</head>
<body>
<!--{require 'top.html'}-->
<div class="navWrap">
<div class="nav clearfix">
  <ul class="navList clearfix">
<li><a href="{$_G['path']}">首 页</a></li>
<!--{loop class count=1 order=asc}--><li><a href="{$class['link']}">好听的歌</a></li><!--{/loop class}-->
<li><a href="{$rewrite['index.php/page/tag/']}">音乐曲风</a></li>
<li><a href="{$rewrite['index.php/misc/rank/down/']}">音乐排行榜</a></li>
<!--{loop special_class count=1 order=asc}--><li><a href="{$specialclass['link']}">淘歌专辑</a></li><!--{/loop special_class}-->
<li><a href="{$rewrite['index.php/misc/radio/']}" target="_blank">随心听</a></li>
<!--{loop singer_class count=1 order=asc}--><li><a href="{$singerclass['link']}">歌手大全</a></li><!--{/loop singer_class}-->
<!--{loop video_class count=1 order=asc}--><li><a href="{$videoclass['link']}">高清MV</a></li><!--{/loop video_class}-->
<li><a href="{$_G['path']}user.php">用户中心</a></li>
  </ul>
 </div>
</div>
<div class="box bgWrite mt">
 <div class="diange">
  <div class="diangeHd clearfix">
   <div class="diangeNav">
    <ul class="step-nav clearfix">
     <li class="current"><span class="t-t">收藏音乐</span></li>
    </ul>
   </div>
  </div>
<form method="get" onsubmit="mod_fav({$music['id']});return false;">
<div class="diangeBd step02 clearfix">
<div class="diangeFrom diange-form">
<ul>
<li class="form-item clearfix"><label class="label">歌曲名称：</label><input type="text" class="input readOnly" readonly="readonly" value="{$music['name']}"></li>
<li class="form-item clearfix"><label class="label">验证码：</label><input type="text" id="_seccode" class="input" style="width:45px;" maxlength="4" />&nbsp;<img id="img_seccode" src="{$rewrite['user.php/people/seccode/']}" align="absmiddle" />&nbsp;<a href="javascript:update_seccode()">更换</a><span id="_tips" style="color:red"></span></li>
</ul>
</div>
</div>
<div class="diangeBd step03 clearfix">
<div class="btn-group clearfix" style="margin:20px 0 0 240px;">
<button type="submit" class="sDian1" style="cursor:pointer;">提交收藏</button>
</div>
</div>
</form>
 </div>
</div>
<!--{require 'bottom.html'}-->
</body>
</html>