<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$_G['charset']}" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<title>用户登录 - {$_G['name']}</title>
<meta name="Keywords" content="{$_G['keywords']}" />
<meta name="Description" content="{$_G['description']}" />
<link href="{$_G['tempath']}css/index.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="main_frame">
	<iframe width="100%" height="511" allowtransparency="true" scrolling="no" border="0" frameborder="0" src="{$rewrite['index.php/page/login_frame/']}"></iframe>
</div>
<!--{require 'bottom.html'}-->
</body>
</html>