<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$_G['charset']}" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<title>忘记密码 - {$_G['name']}</title>
<meta name="Keywords" content="{$_G['keywords']}" />
<meta name="Description" content="{$_G['description']}" />
<link href="{$_G['tempath']}css/index.css" type="text/css" rel="stylesheet" />
<link href="{$_G['tempath']}css/music_dir.css" type="text/css" rel="stylesheet" />
<link href="{$_G['tempath']}css/tips.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="{$_G['tempath']}js/jquery.js"></script>
<script type="text/javascript" src="{$_G['tempath']}js/menu.js"></script>
<script type="text/javascript" src="{$_G['tempath']}js/lib.js"></script>
<script type="text/javascript">
var in_path = '{$_G['path']}';
var temp_url = '{$_G['tempath']}';
var search_url = '{$rewrite['index.php/search/music/target/']}';
var _menu = 'music';
function update_seccode(){
	document.getElementById('img_seccode').src = '{$rewrite['user.php/people/seccode/' + Math.random() + '/']}';
}
</script>
</head>
<body>
<div class="frame_top">
	<!--{require 'top.html'}-->
	<div class="main_top">
		<h1 class="frame_logo"><a href="{$_G['path']}" class="logo">{$_G['name']}</a></h1>
		<div class="frame_search">
			<input type="text" value="找到好音乐" class="search_text" id="keyword" onfocus="if(this.value=='找到好音乐'){this.value='';}$('.frame_search').addClass('search_focus');" onblur="if(this.value==''){this.value='找到好音乐';}$('.frame_search').removeClass('search_focus');lib.s_onblur();" onkeyup="get_search(this.value);">
			<input type="button" value="搜索" onclick="lib.s_earch('keyword');return false;" class="go_search">
			<div class="search_result" style="display:none" id="getsearch"></div>
		</div>
		<div class="navigation">
			<ul>
				<li class="nav_home"><a href="{$_G['path']}"><span>音乐馆</span></a></li>
				<li class="nav_mv"><a href="{$rewrite['index.php/page/mv/']}"><span>MV</span></a></li>
				<li class="nav_mymusic"><a href="{$rewrite['user.php/music/index/']}" target="_blank"><span>我的音乐</span></a></li>
				<li class="nav_musicvip"><a href="{$rewrite['user.php/profile/vip/']}" target="_blank"><span>绿钻</span></a></li>
			</ul>
		</div>
		<div class="sub_navigation">
			<p class="sub_lib" style="display: block;">
				<a href="{$_G['path']}">首页</a>|
				<a href="{$rewrite['index.php/page/rank/']}">发现音乐</a>|
				<!--{loop special_class count=1 order=asc}--><a href="{$specialclass['link']}">精选辑</a>|<!--{/loop special_class}-->
				<!--{loop singer_class count=1 order=asc}--><a href="{$singerclass['link']}">歌手</a><!--{/loop singer_class}-->
			</p>
			<p class="sub_mv" style="display: none;">
				<a href="{$rewrite['index.php/page/mv/']}">MV推荐</a>|
				<!--{loop video_class count=1 order=asc}--><a href="{$videoclass['link']}">MV库</a><!--{/loop video_class}-->
			</p>
			<p class="sub_mymusic" style="display: none;">
				<a href="{$rewrite['user.php/music/index/']}" target="_blank">我上传的</a>|
				<a href="{$rewrite['user.php/music/song/']}" target="_blank">我收藏的</a>|
				<a href="{$rewrite['user.php/music/song/listen/']}" target="_blank">我听过的</a>
			</p>
		</div>
	</div>
</div>
<div class="main_frame">
	<div class="layout_1">
		<div class="mod_music_dir">
			<div class="title">
				<h2>找回密码</h2>
			</div>
			<div class="mod_content">
				<form method="get" onsubmit="lostpasswd(1);return false;">
					<div class="fill_box">
						<span class="box_title">用户名：</span>
						<div class="form_element">
							<input type="text" class="text_box" id="username" />
							<span class="select_num" id="username_tips"></span>
						</div>
					</div>
					<div class="fill_box">
						<span class="box_title">邮箱：</span>
						<div class="form_element">
							<input type="text" class="text_box" id="mail" />
							<span class="select_num" id="mail_tips">请输入您注册时填写的邮箱。</span>
						</div>
					</div>
					<div class="fill_box">
						<span class="box_title">验证码：</span>
						<div class="form_element">
							<input type="text" class="text_box" id="seccode" />
							<span class="select_num"><img id="img_seccode" src="{$rewrite['user.php/people/seccode/']}" align="absmiddle" /><a href="javascript:update_seccode()">更换</a><i id="seccode_tips"></i></span>
						</div>
					</div>
					<div class="music_dir_op">
						<input type="submit" class="btn_cancel" value="找回密码" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!--{require 'bottom.html'}-->
<!--{require 'tips.html'}-->
</body>
</html>