<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$_G['charset']}" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<title>{$video['name']} - {$video['classname']} - {$_G['name']}</title>
<meta name="Keywords" content="{$_G['keywords']}" />
<meta name="Description" content="{$_G['description']}" />
<link href="{$_G['tempath']}css/index.css" type="text/css" rel="stylesheet" />
<link href="{$_G['tempath']}css/song_details.css" type="text/css" rel="stylesheet" />
<link href="{$_G['tempath']}css/tips.css" type="text/css" rel="stylesheet" />
<link href="{$_G['tempath']}css/visitor.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="{$_G['tempath']}js/jquery.js"></script>
<script type="text/javascript" src="{$_G['tempath']}js/html5media.min.js"></script>
<script type="text/javascript" src="{$_G['tempath']}js/menu.js"></script>
<script type="text/javascript" src="{$_G['tempath']}js/visitor.js"></script>
<script type="text/javascript" src="{$_G['tempath']}js/lib.js"></script>
<script type="text/javascript">
var in_path = '{$_G['path']}';
var temp_url = '{$_G['tempath']}';
var search_url = '{$rewrite['index.php/search/music/target/']}';
var _menu = 'video';
</script>
</head>
<body>
<div class="frame_top">
	<!--{require 'top.html'}-->
	<div class="main_top">
		<h1 class="frame_logo"><a href="{$_G['path']}" class="logo">{$_G['name']}</a></h1>
		<div class="frame_search">
			<input type="text" value="找到好音乐" class="search_text" id="keyword" onfocus="if(this.value=='找到好音乐'){this.value='';}$('.frame_search').addClass('search_focus');" onblur="if(this.value==''){this.value='找到好音乐';}$('.frame_search').removeClass('search_focus');lib.s_onblur();" onkeyup="get_search(this.value);">
			<input type="button" value="搜索" onclick="lib.s_earch('keyword');return false;" class="go_search">
			<div class="search_result" style="display:none" id="getsearch"></div>
		</div>
		<div class="navigation">
			<ul>
				<li class="nav_home"><a href="{$_G['path']}"><span>音乐馆</span></a></li>
				<li class="nav_mv"><a href="{$rewrite['index.php/page/mv/']}" class="nonce"><span>MV</span></a></li>
				<li class="nav_mymusic"><a href="{$rewrite['user.php/music/index/']}" target="_blank"><span>我的音乐</span></a></li>
				<li class="nav_musicvip"><a href="{$rewrite['user.php/profile/vip/']}" target="_blank"><span>绿钻</span></a></li>
			</ul>
		</div>
		<div class="sub_navigation">
			<p class="sub_lib" style="display: block;">
				<a href="{$_G['path']}">首页</a>|
				<a href="{$rewrite['index.php/page/rank/']}">发现音乐</a>|
				<!--{loop special_class count=1 order=asc}--><a href="{$specialclass['link']}">精选辑</a>|<!--{/loop special_class}-->
				<!--{loop singer_class count=1 order=asc}--><a href="{$singerclass['link']}">歌手</a><!--{/loop singer_class}-->
			</p>
			<p class="sub_mv" style="display: none;">
				<a href="{$rewrite['index.php/page/mv/']}">MV推荐</a>|
				<!--{loop video_class count=1 order=asc}--><a href="{$videoclass['link']}" class="nonce">MV库</a><!--{/loop video_class}-->
			</p>
			<p class="sub_mymusic" style="display: none;">
				<a href="{$rewrite['user.php/music/index/']}" target="_blank">我上传的</a>|
				<a href="{$rewrite['user.php/music/song/']}" target="_blank">我收藏的</a>|
				<a href="{$rewrite['user.php/music/song/listen/']}" target="_blank">我听过的</a>
			</p>
		</div>
	</div>
</div>
<div class="main_frame">
	<div class="layout_2">
		<div class="main_container">
			<div class="song_title" style="height:auto;">
				<h2><span>{$video['name']}</span></h2>
				<div class="opertate">
					<a class="btn_down" style="cursor:pointer;" title="下载MV" onclick="location.href=temp_url+'source/down.php?type=video&id={$video['id']}';"></a>
				</div>
			</div>
			<div class="song_detail">
				<!--{if(preg_match('/swf$/', '{$video['play']}'))}-->
				<embed src="{$video['play']}" quality="high" width="618" height="347" align="middle" allowscriptaccess="always" allowfullscreen="true" type="application/x-shockwave-flash"></embed>
				<!--{else}-->
				<video class="video" poster="{$video['cover']}" width="618" height="347" controls="controls" preload="auto">
					<source src="{$video['play']}" />
				</video>
				<!--{/if}-->
			</div>
			<div class="lyrics">
				<div class="title">
					<h3>MV简介</h3>
				</div>
				<div class="content">{$video['intros']}</div>
			</div>
		</div>
		<div class="side_container">
			<div class="album_source">
				<div class="album_cover">
					<img src="{$video['cover']}">
				</div>
				<h4>猜你喜欢</h4>
				<ol class="recommend_list"><!--{loop video count=10 sort=rand class=auto}-->
					<li>
					<h5><a href="{$video['link']}" title="{$video['name']}">{$video['name len=10']}</a></h5>
					<span class="count" style="display:inline-block">{$video['hits']}</span>
					</li>
				<!--{/loop video}--></ol>
			</div>
		</div>
	</div>
</div>
<!--{require 'bottom.html'}-->
<!--{require 'tips.html'}-->
<!--{require 'visitor.html'}-->
</body>
</html>