<div id="footer">
	<div class="container">
		<div class="footcon">
			<div class="footleft_oper">
				<div class="foot_logo">
					<a href="{$_G['path']}"><img src="{$_G['tempath']}css/bottom.jpg" width="300" height="91"></a>
				</div>
				<div class="foot_search h_search" style="position:relative; left:46px;">
					<div class="option_selected" id="footsearch_option_selected">
						<a href="javascript:void(0)" id="footst" target="_self">音乐</a>
					</div>
					<div class="option_list" id="footsearch_option_list">
						<ul>
							<li class="selected"><a href="javascript:void(0)" target="_self">音乐</a></li>
							<li><a href="javascript:void(0)" target="_self">专辑</a></li>
							<li><a href="javascript:void(0)" target="_self">歌手</a></li>
							<li><a href="javascript:void(0)" target="_self">视频</a></li>
						</ul>
					</div>
					<div class="search_box">
						<input type="text" id="footsq" onfocus="this.value=''" value="请输入查询关键字！">
						<button type="submit" id="fsearch">搜索</button>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright">
			<div class="copyinfo" style="text-align:center">
				    Copyright &copy;
				<script type="text/javascript">document.write(new Date().getFullYear());</script>
				<a href="http://{$_G['host']}" target="_blank">{$_G['name']}</a> All Rights Reserved -- <a href="http://www.miitbeian.gov.cn/" target="_blank">{$_G['icp']}</a> {$_G['stat']}<br/>
				<a href="mailto:{$_G['mail']}">本站所有音乐均来自互联网搜集，版权为原作者所有，如有侵犯权益，请联系我们删除！</a>
			</div>
		</div>
	</div>
</div>