<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$_G['charset']}"/>
<title>{$video['name']} - {$video['classname']} - {$_G['name']}</title>
<meta name="Keywords" content="{$_G['keywords']}"/>
<meta name="Description" content="{$_G['description']}"/>
<link rel="stylesheet" href="{$_G['path']}static/pack/asynctips/asynctips.css" type="text/css"/>
<link rel="stylesheet" href="{$_G['tempath']}css/asyncbox.css" type="text/css"/>
<link rel="stylesheet" href="{$_G['tempath']}css/common.min.css" type="text/css"/>
<link rel="stylesheet" href="{$_G['tempath']}css/play.css" type="text/css"/>
<link rel="stylesheet" href="{$_G['tempath']}css/layout.min.css" type="text/css"/>
<link rel="stylesheet" href="{$_G['tempath']}css/hfsp.min.css" type="text/css"/>
<script type="text/javascript" src="{$_G['path']}static/pack/asynctips/jquery.min.js"></script>
<script type="text/javascript" src="{$_G['path']}static/pack/asynctips/asyncbox.v1.4.5.js"></script>
<script type="text/javascript" src="{$_G['tempath']}js/lib.js"></script>
<script type="text/javascript">
var in_path = '{$_G['path']}';
var temp_url = '{$_G['tempath']}';
var search_url = '{$rewrite['index.php/search/table/target/']}';
var connect_url = '{$rewrite['user.php/people/connect/']}';
var reg_open = <!--{eval}-->return IN_REGOPEN;<!--{/eval}-->;
function get_play(play) {
	var url = '{$_G['tempath']}widget/v.swf?php=video&lists={video}{$video['id']}&.swf';
	if (play.match(/\.(swf)/g)) {
		url = play;
	}
	return '<embed src="' + url + '" width="617" height="500" align="middle" allowfullscreen="true" allowscriptaccess="always" wmode="transparent" type="application/x-shockwave-flash"></embed>';
}
</script>
</head>
<body>
<div id="wrapper">
	<!--{require 'top.html'}-->
	<div class="container">
		<div class="hr_10">
		</div>
		<div id="breadcrumb_nav">
			<div class="sitepoint">
				<a href="{$_G['path']}">首页</a>&raquo;<a href="{$video['classlink']}">{$video['classname']}</a>&raquo;<a href="{$video['link']}">{$video['name']}</a>
			</div>
			<div class="fl h_search" style="position:relative; left:10px;">
				<div class="option_selected" id="search_option_selected">
					<a href="javascript:void(0)" id="st" target="_self">音乐</a>
				</div>
				<div class="option_list" id="search_option_list">
					<ul>
						<li class="selected"><a href="javascript:void(0)" target="_self">音乐</a></li>
						<li><a href="javascript:void(0)" target="_self">专辑</a></li>
						<li><a href="javascript:void(0)" target="_self">歌手</a></li>
						<li><a href="javascript:void(0)" target="_self">视频</a></li>
					</ul>
				</div>
				<div class="search_box">
					<input type="text" onfocus="this.value=''" id="sq" value="请输入查询关键字！">
					<button type="submit" id="hsearch">搜索</button>
				</div>
			</div>
		</div>
		<div class="com_wrap" style="margin-top:550px">
			<div class="spplay">
				<div class="spbfq">
					<script type="text/javascript">document.write(get_play('{$video['play']}'));</script>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="hr_10">
</div>
<!--{require 'bottom.html'}-->
</body>
</html>